<div class="btn-group">
    <a class="col-md-12 col-sm-12 col-xs-12 btn btn-default btn-white dropdown-toggle" data-toggle="dropdown">
        {{#if selected.label}}{{selected.label}}{{else}}{{items.0.label}}{{/if}}  <i class="dd fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu" role="menu">
        {{#each items}}
            <li>
                <a href="javascript:return;" data-value="{{value}}" class="setSpeed">{{label}}</a>
            </li>
        {{/each}}
    </ul>
</div>