/* version 14.03.2016 9:35 */
.partner-header {
	color: #fff !important;
    background: url('/img/partner/zenpartnerfon.jpg');
    padding-top:30px;
    padding-bottom:30px;
    margin-bottom: 40px;
}

.p-logo {
    margin: 25px 0 15px 50px;
    display: block;
    float:left;
}

.partner-header .container h1 {
    text-align: center !important;
    font-size: 30px;
	margin-bottom: 20px;
}

.partner-header .container {
    text-align: center;
    font-size: 18px;
	padding: 0 !important;
	margin-left: -15px !important;
	margin-bottom: 10px;
}
.partner-header a.confirm{

}

.partner-header .container p {
    font-size:22px;
	line-height: 1.5em;
}

.confirm-button-1 {
    font-size: 24px !important;
    padding-left: 15px;
    padding-right: 15px;
    margin-top:30px;
    font-family: HelveticaNeueCyr-Light;
    /*
    border-radius: 25px;
    background: #fff url('/img/partner/line_1_btn_arr.png') no-repeat left center;
    box-shadow: 0px 3px 7px 0px rgba(55, 104, 4, 0.35);
    width: 320px;
    height: 52px;
    display: inline-block;
    font-family: 'geometria', sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    color: #7d8c8f;
    line-height: 52px;
    text-decoration: none;
    margin: 25px auto 10px auto;
    */
}
.partner-header .container .pub{
    color:#fff;
    clear: both;
    display: inline-block;
    margin-top: 10px;
    padding-bottom: 2px;
    font-size: 18px;
    text-decoration: none;
    border-bottom: 1px dashed white;
}
.partner-body{
    text-align: center;

}
.partner-body h2, .partner-body h3{
    margin-top: 20px;
    margin-bottom:15px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #1AC663;
    font-family: HelveticaNeueCyr-Light;
}
.modal-title{
    font-weight: bold;
    color:#FF5151;
}
.scroller{
    line-height: 30px;
}

.scroller h2, .scroller strong{
    font-weight: bold;
    color: #1AC663;
}
.partner-body  h3{
    font-size:28px;
}

.punkt{
    border-width: 1px;
    border-color: rgb(255, 81, 81);
    border-style: solid;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: inline-block;
    text-align: center;
    line-height: 36px;
    font-size: 24px !important;
    color: #000;
    margin-right: 15px;
    float: left;
}
.psis{
    width:800px;
    margin: 0 auto;
    padding-top:5px;
    padding-bottom:20px;
    font-family: HelveticaNeueCyr-Light;
}
.psis li{
    text-align: left;
    height:45px;
    padding-top:10px;
    line-height: 36px;
    font-size: 20px !important;
    color:#000;
    margin-left:20px;
}
.dohblog{
    width:940px;
    padding: 20px 0px 20px;
    margin: 0 auto;
    margin-top:40px;
    margin-bottom: 60px;
}
.percent {
    /*background: rgb(116, 182, 115);*/
    width: 81px;
    height: 81px;
    margin: 0 auto;
    text-align: center;
    line-height: 81px;
    border-radius: 50%;
    border:1px solid #FF5151;
    font-family: HelveticaNeueCyr-Bold;
    font-weight: 900;
    color: #FF5151;
    font-size: 30px;
    margin-bottom: 10px;
}
.forpercent{
    font-weight: 400;
    text-align: justify;
    padding:20px 30px;
    color: rgb(59, 59, 59);
    font-size: 18px;
    line-height: 25px;
    font-family:HelveticaNeueCyr-Light;
}

.item{
    width: 275px;
    border-width: 1px;
    border-color:#1AC663;
    border-style: solid;
    background-color: #fff;
    position: relative;
    text-align: center;
    font-family:HelveticaNeueCyr-Light;
    font-weight: 400;
    color: #000;
    line-height: 20px;
    font-size: 18px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px 10px;
}
.item .count{
    position: absolute;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: #fff;
    border:1px solid #1AC663;
    font-family: HelveticaNeueCyr-Light;
    font-size: 14px;
    line-height: 38px;
    color: #000;
    text-align: center;
    left: -19px;
    top: -19px;
}
.item .text{
    font-size: 18px;
    line-height: 25px;
}
.bpbutton{
    border-radius: 25px;
    background: #74b673 url('/img/partner/line_5-arr.png') no-repeat left center;
    box-shadow: 0px 3px 7px 0px rgba(55, 104, 4, 0.35);
    width: 320px;
    height: 52px;
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    color: #fbfdfd;
    line-height: 52px;
    text-decoration: none;
    margin: 20px auto 10px auto;
}
.bpbutton:hover{
    color: #fbfdfd;
    text-decoration: none;

}
.pub2{
    font-weight: 400;
    font-size: 14px;
    color: #7d8c8f;
    text-decoration: underline;
}
.green-text{
    color:#1AC663 !important;
    font-size:18px;
}
.getmoney{
    display: inline-block;
    background: #71b270;
    max-width: 210px;
    width: 100%;
    border-radius: 15px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 14px;
    color: #ffffff !important;
    text-decoration: none;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px rgba(55, 104, 4, 0.35);
    margin-top:15px;
}
.getmoney:hover{
    color:#fff;
    text-decoration: none;
}
.getmoney:visited{
    color:#fff;
}
.get_history{
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    text-decoration: underline;
    line-height: 22px;
}
.refs{
    width: 140px;
    height: 30px;
    border: 1px solid #7d8c8f;
    text-align: center;
    font-size: 14px;
    margin-top: -8px;
    margin-left: 20px;
    border-radius: 4px !important;
    padding:5px 15px;
    float:right;
}

.reflinkb {
    font-size: 12px;
    color: #1AC663;
}

.refinput {
    width: 377px;
    border: 1px solid #727272;
    border-radius: 4px;
    height: 30px;
    padding: 0px 20px;
    margin-top:10px;
}

#copy_btn{
    background: #74b673;
    border-radius: 4px;
    height: 36px;
    line-height: 34px;
    font-size: 16px;
    color: #fdfefe;
    border: none;
    margin-left: 20px;
    padding: 8px 20px;
    font-style:normal;

}
#copy_btn:hover{
    color:#fff;
    text-decoration: underline;
    font-style:normal;
}
.name-cat{
    color: #4c4c4c;
    font-size: 18px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f7f5f5;
    border: 1px solid gainsboro;
    font-weight: 500;
    margin-top:20px;
}
.faqitem{
    padding-left: 25px;
    border-bottom: 1px solid gainsboro;
    padding-bottom:15px;
    padding-top:15px;
}
.faqitem .name {
    font-size: 18px;
    color: #ff4747;
    margin:10px 0;
}
.faqitem p{
    margin-bottom: 15px;
    line-height: 30px;
}
.faqitem ul{
    margin:15px 0 20px 40px;
}
.faqitem li{
    list-style: disc;
    line-height: 25px;
    font-size: 16px;
}
.grid-view td{
    background: #fff;
    border:1px #ff0084 solid;
}
.grid-view .table tr{
    border:none !important;
}
.table-title{
    font-size: 14px;
    font-weight: 500;
    margin-top: 20px;
}
.back_btn {
    background: #74b673 url('/img/partner/ico_back.png') no-repeat 10px 10px;
    border-radius: 15.5px;
    height: 34px;
    line-height: 34px;
    display: inline-block;
    padding: 0px 20px 0px 30px;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}
.back_btn:hover{
    color:#fff;
}
.btn .btn-default{
    border-radius: 30px !important;
}
.banner-links{
    text-align:center;
}
.banner-links a{
    text-decoration: underline;
    color:#74b673 !important;
}
.banner-links div{
    margin-top:10px;
}
.back-link{
    display: inline-block;
    float: right;
    font-size: 14px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 12px;
    line-height: 26px;
    text-decoration: none;
    padding: 0px 37px;
    margin-top: 40px;
    text-align: left;
}
.back-link:hover{
    text-decoration: none;
    color:#fff;
}

.link-f a {
	margin-right: 18px;
	float: left;
	display: block;
	position: relative;
	padding-right: 47px;
	padding-left: 57px;
	height: 42px;
	background-color: white;
	border: 1px solid #d3d6d9;
	border-radius: 4px;
	box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.59);
	background-repeat: no-repeat;

	text-shadow: 0 1px 2px rgba(255, 255, 255, 0.31);
	color: #4c4c4c;
	font-size: 16px;
	font-weight: 500;
	line-height: 43px;
	text-decoration: none;
	background-position: 20px center;
}

.link-f a.i1 {
	background-image: url(/img/partner/i1.png);
}
.link-f a.i1.active {
	border: 1px solid #1AC663 !important;
}
.link-f a.i2 {
	background-color: #e8e8e8;
	background-image: url(/img/partner/i2.png);
}
.link-f a.i2.active {
	border: 1px solid #44b770 !important;
}

.link-f a span {
	position: absolute;
	top: 4px;
	left: 156px;

	text-align: center;
	display: block;
	border-radius: 99999px;
	color: white;
	width: 20px;
	height: 21px;
	background-color: #de5142;
	line-height: 21px;
	font-size: 11px;
}

.link-f a:hover {
	opacity: 0.8;
    text-decoration: none;
    color: #4c4c4c;
}

.link-f {
	margin-bottom: 28px;
}
.grline{
    background: url('/img/landing/how-work/header_lines.png') no-repeat;
    padding-top:39px;
    padding-right:0 !important;
}
.dlia{
    padding-left: 50px;
}
.field-partnerform-walet .control-label{
    margin-bottom:10px;
}
#partnerform-walet{
    font-size:16px;
}

/* Стили для мобильной вёрстки */
.balace-block{
    margin-bottom:10px;
}
.totalSum{
    border-left: none; text-align: right;
}

@media (max-width: 767px) {
    .psis{
        width:100%;
    }
    .partner-header{
        padding-left:20px !important;
    }

    .psis{
        width:100%;
        margin: 0 auto;
        padding-top:5px;
        padding-bottom:20px;
        font-family: HelveticaNeueCyr-Light;
    }
    .psis li{
        line-height: 25px;
        margin-bottom:30px;
        padding-right: 5px;
        margin-left: 5px;
    }
    .dlia{
        padding-left: 0px;
    }
    .dohblog{
        width:100%;
        margin-top:30px;
        margin-bottom:30px;
    }
    .grline{
        background: none;
        padding-top: 0px;
    }
    .i1, .i2{
        margin:10px;
    }
    p.green-text{
        line-height: 25px;
    }
    .link-f a{
        padding-right:25px;
        font-size:16px;
    }
    .balace-block{
        margin-top:30px;
    }
    .get_history{
        border: 1px solid #44b770 !important;
        border-radius: 4px;
        padding:10px 20px;
        display: block;
        color: #4c4c4c;
        text-decoration:none;
    }
    .refs{
        float:none;
        font-size: 16px;
        margin:10px 0;
    }
    .col.pull-right{
        padding-left:15px;
        float:none !important;
    }



    /* Force table to not be like tables anymore */
    #table-responsive table,
    #table-responsive thead,
    #table-responsive tbody,
    #table-responsive th,
    #table-responsive td,
    #table-responsive tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #table-responsive thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #table-responsive tr { border: 1px solid #ccc; }

    #table-responsive td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align:left;
    }

    #table-responsive td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    /*
    Label the data
    */
    #table-responsive td:before { content: attr(data-title); }
    #table-responsive .empty{
        margin:0 auto;
    }
    #copy_btn{
        margin:10px auto;
    }
    .refinput {
        width: 100%;
        display: block;
        margin-bottom: 10px;
    }
}
