<div class="row geotags-container">
	<div class="geo-map-block col-sm-7">
		<div class="geotag-map-controls-holder">
			<div class="geotag-map-controls">
				<button type="button" class="btn btn-sm btn-default geotag-map-control geotags-zoom-out">
					<span class="glyphicon glyphicon-globe"></span>
				</button>
				<!-- <button type="button" class="btn btn-sm btn-default geotag-map-control geotags-circle-filter {{#circleFilter}}active{{/circleFilter}}">
					<span class="glyphicon glyphicon-record"></span>
				</button> -->
			</div>
		</div>
		<div class="geotags-map"></div>
	</div>

	<div class="geo-list-tags-right col-sm-5">
		<div class="geotags-column">
			<form class="input-group geotags-additional-search {{#pending}}disabled{{/pending}}" onsubmit="return false;">
				<input type="text" class="form-control" placeholder="<?= Yii::t('views', 'Search by locations') ?>">
				<span class="input-group-btn">
					<button class="btn btn-default" type="submit">
						{{#if autocompletePending}}
						<span class="fa fa-spinner fa-pulse fa-fw"></span>
						{{else}}
						<span class="glyphicon glyphicon-search"></span>
						{{/if}}
					</button>
				</span>
			</form>
			<div class="geotags-autocomplete-holder">
				<div class="geotags-autocomplete{{^autocompleteShow}} hidden{{/autocompleteShow}}">
					<ul class="list-group">
						{{#each autocompleteItems}}
							<li class="list-group-item {{#enabled}}geotags-autocomplete-checked{{/enabled}}"  data-idx="{{@index}}">
								<div class="pull-left" style="padding-right:10px;">
									<span class="glyphicon glyphicon-ok"></span>
								</div>
								<div>
									<div class="geotag-title">{{title}}</div>
									<div class="geotag-subtitle"><em>{{address}}</em></div>
								</div>
							</li>
						{{/each}}
					</ul>
				</div>
			</div>
			{{#if pending}}
				<div class="progress">
					<div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar"
					     aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
				</div>
			{{/if}}
			<div class="geotags-items-list">
				{{#each items}}
					<div class="balloon{{^enabled}} removed{{/enabled}}" data-idx="{{@index}}">
						<div class="content">
							<span class="button-holder">
								<span class="locate glyphicon glyphicon-screenshot" data-toggle="popover" data-title="<?=Yii::t('app', 'Location')?>" data-content="<?=Yii::t('app', 'Show location object in map')?>"></span>
							</span>
							<span>
								{{#if enabled}}
									<span class="glyphicon glyphicon-map-marker"></span>
								{{else}}
									<span class="glyphicon glyphicon-ban-circle"></span>
								{{/if}}
								<span class="geotag-title">{{title}}</span>
							</span>
							<div class="geotag-subtitle">{{address}}</div>
						</div>
					</div>
				{{/each}}
			</div>
		</div>
	</div>
</div>