<input type="search" class="form-control" placeholder="<?= Yii::t('views', 'Enter the city') ?>"
       autocomplete="off" style="margin-bottom: 10px;" {{#pending}}disabled{{/pending}}>
<div class="error-wrapper"><div class="error"></div></div>
<?php if (empty(Yii::$app->params['use_regions'])) : ?>
	<div class="clearfix divide"></div>
<?php endif; ?>
<div class="panel-items-list<?= (!empty(Yii::$app->params['use_regions']) ? ' panel-items-list-short' : '') ?>">
	{{#each items}}
		<div class="balloon balloon-float" {{data 'item'}}>
			<span class="button-holder">
				<span class="delete glyphicon glyphicon-trash" title="<?= Yii::t('app', 'Remove') ?>"></span>
			</span>
			<span class="content">{{name}}</span>
		</div>
	{{/each}}
</div>